
@font-face {
  font-family: Roboto-Regular ;
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: Roboto-Light ;
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: Roboto-Medium ;
  src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: Roboto-Bold ;
  src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: Roboto-Black;
  src: url('../fonts/Roboto-Black.ttf');
}



body{
  font-family: 'Roboto-Light';
  font-size: 17px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);
  background: #101932;
}
a{
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
button, input{
  border: none;
  background: transparent;
}
.container{
  width: 100%;
  max-width: 1406px;
  margin: 0 auto ;
  padding-left: 10px;
  padding-right: 10px;
}

.header{
  background-image: url(../images/header/header__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}
.header-top__inner{
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  height: 100%;
  max-height: 70px;
  padding-top: 15px;
  margin-bottom: 100px;
}

.logo{
  display: flex;
  justify-content: space-around;
  padding-left: 15px;
  padding-right: 15px;
}

.logo__title{
  font-family: 'Roboto-Regular';
  font-size: 22px;
  line-height: 28px;
  color: #fff;

}
.logo__title span{
  color: #E11D2E;
}

.logo__link{
  margin-right: 15px;
}

.nav{
  display: flex;
  justify-content: end;
  width: 100%;
  flex-basis: 860px;
}

.header-top__menu{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header-top__list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 15px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(224, 224, 224);
  transition: all .5s;
}
.header-top__list:last-child{
  margin-right: 0;
}

.header-top__list:hover{
  color: rgb(255, 255, 255);
}

.join{
  width: 100%;
  max-width: 170px;
  display: flex;
  justify-content: center;
}
.join__btn{
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  padding: 11px 30px;
  background: #AC1216;
  border-radius: 10px;
  transition: all .7s;
}

.join__btn:hover{
  background: #E11D2E;
}

.header__content{
  width: 100%;
  max-width: 700px;
`
}

.header__content-title{
  font-size: 80px;
  line-height: 90px;
  color: #fff;
  margin-bottom: 5px;
}
.header__content-title span{
  color: #E11D2E;
}

.header__content-subtitle{
  font-size: 25px;
  line-height: 30px;
  color: #71768E;
  margin-bottom: 40px;
}
.header__content-text{
  font-size: 32px;
  line-height: 38px;
  color: #A0A3B5;
  margin-bottom: 46px;
}

.header__content-form{
  margin-bottom: 129px;
}
.unite{
  display: flex;
}

.form__btn{
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  padding: 25px 54px;
  background: #E11D2E;
  border-radius: 10px;
  cursor: pointer;
  transition: all .8s;
}
.form__btn:hover{
  background: #AC1216;
}

.header-form__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.more__btn{
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  background: rgba(129, 126, 126, 0.05);
  border-radius: 10px;
  padding: 27px 30px;
  opacity: 0.9;
  transition: all .6s;
}

.more__btn:hover{
  color: #fff;
  box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.81);
}

.address__input{
  width: 100%;
  max-width: 628px;
  padding: 32px 35px 13px 30px;
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}

.ticker{
  background: #5A4039;
  color: rgba(255, 245, 0, 0.6);
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 11px;
}

.find__inner{
  width: 100%;
  max-width: 980px;
  height: 900px;
  margin: 0 auto;
  background-image: url(../images/find/find__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 50px;
  position: relative;
}
.find__search{
  display: flex;
  justify-content: center;
}

.find__list{
  display: flex;
  justify-content: space-between;
  background-color: #101932; 
}

.find__list-img{
  filter:
    brightness(0.2)
    grayscale(1)
    opacity(.4);
}

.brighter{
  filter:
    brightness(0.5)
    grayscale(1)
    opacity(.9);
}

.find__content-inner{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.find__content{
  width: 100%;
  max-width: ;
  padding-top: 116px;
  height: 650px;
}
.find__title{
  font-size: 36px;
  line-height: 49px;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.bundle{
  width: 118px;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 150, 242, 0.2);
  border-radius: 201.5px;
  z-index: 1;
  position: absolute;
  transition: all .7s;
}
.bundle:hover{
  background: rgba(0, 150, 242, 0.3);
}

.first__bundle{
  top: 50%;
  left: 5%;
}

.second__bundle{
  right: 5%;
  top: 8%;
}
.third__bundle{
  right: 21%;
  bottom: 0;
}

.bundle__link{
  z-index: 10;
}

.btn{
  display: flex;
  justify-content: center;
  text-align: center;
}

.find__btn{
  margin-top: 220px;
}

.find__btn-link{
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  opacity: .9;
  padding: 10px 45px 15px 45px;
  background-color: #E11D2E;
  border-radius: 10px;
  transition: all .4s;
}

.find__btn-link:hover{
  background-color: #b51422;
  box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.81);
}

.title{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  margin-bottom: 50px;
}

.works{
  margin-bottom: 160px;
}

.works__content{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.works__items{
  background: #384D70;
  border-radius: 20px;
  padding: 30px 35px 40px 40px;
  width: 100%;
  max-width: 300px;
}

.works__item{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all .5s;
  margin-bottom: 30px;
}
.first__works{
  background-color: rgba(234, 11, 30, 0.1);
}
.first__works:hover{
  background-color: rgba(234, 11, 30, 0.3);
}
.second__works{
  background-color: rgba(255, 148, 41, 0.1);
}
.second__works:hover{
  background-color: rgba(255, 148, 41, 0.3);
}
.third__works{
  background-color: rgba(0, 150, 242, 0.1);
}
.third__works:hover{
  background-color: rgba(0, 150, 242, 0.3);
}

.works__title{
  font-size: 26px;
  line-height: 37px;
  color: #fff;
  margin-bottom: 10px;
}
.works__subtitle{
  font-size: 15px;
  line-height: 22px;
  opacity: .3;
  color: #fff;
  margin-bottom: 30px;
}
.works__text{
  font-size: 20px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}

.earn__title{
  margin-bottom: 10px;
}
.subtitle{
  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 23px;
  line-height: 40px;
  margin-bottom: 50px;
}

.earn__top-inner{
  padding: 36px 50px 60px 50px;
  background-color: #071022;
  border-radius: 30px;
}
.earn{
  margin-bottom: 175px;
}
.earn__img{
  float: left;
  padding-right: 40px;
}
.earn__title{
  font-size: 28px;
  line-height: 33px;
  color: #fff;
}
.earn__text{
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 28px;
}

.earn__text:last-child{
  margin-bottom: 0;
}
.earn__midle-inner{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.earn__midle-item{
  padding: 36px 38px 40px 30px;
  width: 100%;
  max-width: 623px;
  border-radius: 30px;
  height: 150px;
}
.earn__first{
  background-color: #FF9429;
}
.earn__second{
  background-color: #067CCB;
}

.earn__midle-img{
  float: left;
  padding-right: 30px;
}

.invest{
    background-color: #30298C;
    margin-bottom: 70px;
}
.invest__inner{
  display: flex;
  justify-content: space-between;
}

.invest__content{
  background-image: url(../images/invest/invest__bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  max-width: 770px;
  height: 675px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invest__content-title{
  font-size: 50px;
  line-height: 54px;
  color: #fff;
  margin-bottom: 20px;
}

.invest__content-subtitle{
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  opacity: .6;
}

.invest-form__inner{
  margin-top: 65px;
  width: 100%;
  max-width: 404px;
  height: 80px;
  background-color: #E11D2E;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all .5s;
}
.invest-form__inner:hover{
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  opacity: .8;
}

.invest__btn{
  font-size: 25px;
  line-height: 30px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  padding: 25px 30px 25px 30px;
}

.invest__items{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.invest__item{
  margin-bottom: 50px;
}
.invest__img{
  float: left;
  padding-right: 20px;
}

.invest__title{
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}
.invest__text{
  font-size: 26px;
  line-height: 30px;
  color: #fff;
  opacity: .8;
}

.roadmap__item{
  display: flex;
}

.roadmap__img {
  float: left;
  width: 138px;
  height: 146px;
  margin-right: 30px;
}

.roadmap__item-title{
  font-size: 30px;
  line-height: 36px;
  list-style: non;
  margin-bottom: 20px;
  margin-left: -10px;
}

.roadmap__list {
  list-style: disc;
}

.roadmap__list-item:first-child{
  list-style: none;
}

.roadmap__list-item{
  font-size: 16px;
  line-height: 25px;
}

.timeline {
  position: relative;
  max-width: 1406px;
  margin: 0 auto;
  padding-bottom: 130px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: rgba(56, 77, 112, 1);
  top: 100px;
  bottom: 0;
  left: 50%;
  margin-left: -23px;
}

.container__timeline{
  position: relative;
  background-color: transparent;
  width: 50%;
}

.container__timeline::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right:13px;
  background-color: rgba(255, 0, 0, 1);
  border: 1px solid rgba(255, 128, 128, 1);
  top: 100px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -30px;
}
.content {
  padding: 35px 30px 35px 30px;
  position: relative;
  border-radius: 6px;
  width: 100%;
  max-width: 600px;
  background: rgba(56, 77, 112, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1); 
  border-radius: 30px; 
  cursor: pointer;
  padding: 35px 30px 35px 30px;
  transition: all .5s;
}
  
.content:hover {
  background: rgba(56, 77, 112, 0.1);
}

.team{
  padding-top: 65px;
  background-color: #162344;
  padding-bottom: 80px;
}
.team__slider{
  padding-bottom: 47px;
}
.team__item{
  width: 100%;
  max-width: 350px;
  margin-right: 54px;
}
.team__item-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__slider.slick-initialized {
  height: auto;
  position: relative;
}

.team__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.team__slider .slick-dots li {
  list-style: none;
  margin: 0 5px;
}

.team__slider .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #A2A7B4;
  border: none;
  cursor: pointer;
}

.team__slider .slick-dots .slick-active button {
  background-color: #FF0000;
}

.partners{
  background-color: #162344;
  padding-bottom: 140px;
}
.content__bg{
  background-color: inherit;
}

.tokenomics{
  background-color: #101D3F;
  padding-top: 70px;
}

.tokenomics__inner{
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.tokenomics__content{
  width: 100%;
  max-width: 400px;
}
.tokenomics__content-pie{
  width: 100%;
  max-width: 500px;
}

.tokenomics__content-item{
  padding: 25px 50px 20px 30px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 15px;
  margin-bottom: 25px;
}
.tokenomics__content-item:last-child{
  margin-bottom: 0;
}
.tokenomics__content-title{
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 5px;
}
.tokenomics__content-text{
  font-size: 17px;
  line-height: 18px;
}

.progressbar {
  height: 3px;
  position: relative;
  background: transparent;
  margin-bottom: 10px;
}
.progressbar>span {
  display: block;
  height: 100%;
  background-color: rgba(78, 0, 255, 1);
 
}
.first__color>span {
  background-color: rgba(78, 0, 255, 1);
}

.second__color> span{
  background-color: rgba(255, 133, 11, 1);
}

.third__color>span{
  background-color: rgba(29, 190, 225, 1);
}
.fourth__color>span {
  background-color: rgba(19, 61, 129, 1);
}
.fifth__color>span {
  background-color: rgba(255, 0, 0, 1);
}
.sixth__color>span {
  background-color: rgba(0, 150, 242, 1);
}

.tokenomics__content-pie{
  width: 500px;
  height: 400px;
}

.canvas {
  background-image: url(../images/tokenomics/tokenomics__bg.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.unit {
  fill: none;
  stroke-width: 5;
  animation-name: render;
  animation-duration: 1.5s;
  transition-property: all;
  transition-duration: 1.5s;
  cursor: pointer;
}
.unit:hover {
  opacity: 0.8;
  stroke-width: 6;
}
.unit:nth-child(1) {
  stroke: #4E00FF;
  stroke-dasharray: 19 100;
  stroke-dashoffset: 44;
}

.unit:nth-child(2) {
  stroke: #FF850B;
  stroke-dasharray: 6 100;
  stroke-dashoffset: 12;
}

.unit:nth-child(3) {
  stroke: #1DBEE1;
  stroke-dasharray: 30 100;
  stroke-dashoffset: 6;
}
.unit:nth-child(4) {
  stroke: #133D81;
  stroke-dasharray: 10 100;
  stroke-dashoffset: 86;
}

.unit:nth-child(5) {
  stroke: #FF0000;
  stroke-dasharray: 15 100;
  stroke-dashoffset: 81;
}

.unit:nth-child(6) {
  stroke: #663090;
  stroke-dasharray: 11 100;
  stroke-dashoffset: 62;
}
.unit:nth-child(7) {
  stroke: #0096F2;
  stroke-dasharray: 15 100;
  stroke-dashoffset: 55;
}
@keyframes render {
  0% {
    stroke-dasharray: 0 100;
  }
}
.value {
  width: 35px;
  height: 30px;
  font-size: 25px;
  color: rgba(0, 0, 0, 1);;
  color: rgba(0, 0, 0, 1);;
  line-height: 30px;
  border-radius: 201.5px;
  z-index: 1;
  position: absolute;
  cursor: pointer;
}
.value__1{
  right: 28%;
  top: 22%;;
}
.value__2{
  right: 15%;
  top: 42%;;
}
.value__3{
  right: 24%;
  bottom: 25%;
}
.value__4{
  left: 37%;
  bottom: 15%;
}
.value__5{
  left: 19%;
  bottom: 31%;
}
.value__6{
  left: 16%;
  bottom: 55%;
}
.value__7{
  left: 31%;
  top: 19%;
}

.questions{
  background-color: #101932;
  padding-top: 70px;
  padding-bottom: 70px;
}

.accordion {
  color: #fff;
  text-align: left;
  outline: none;
  transition: 0.4s;
  padding-top: 50px;
}

.accordion__btn{
  color: #fff;
  padding: 18px;
  width: 100%;
  text-align: left;
  padding-bottom: 36px;
  cursor: pointer;
}
.active,
.accordion__btn,
.accordion__item:hover {
  border-radius: 15px;
}

.panel {
  padding: 25px 35px 25px 35px;
  background-color: rgba(116, 147, 199, 1);
  border-radius: 15px;
  color: #fff;
  display: none;
  width: 48%;
  position: absolute;
  z-index: 4;
  margin-top: 10px;
}

.accordion__inner{
  display: flex;
  flex-direction: column;
  
}
.accordion__item{
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
  height: 75px;
  margin-bottom: 20px;
  background-color: rgba(56, 77, 112, 1);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.accordion__click{
  text-align: center;
  background-color: #E11D2E;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 12px;
}
.accordion__img{
  margin-top: 15px;
}

.footer{
  background-color: #162758;
  padding-top: 60px;
}

.footer__inner{
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url(../images/footer/footer__vector__bg.svg);
  background-repeat: no-repeat;
  background-position: top 50px center;
}

.social__list{
  display: flex;
  justify-content: space-around;
}

.social__list-item{
  padding: 30px;
  border-radius: 15px;
  background-color: rgba(225, 29, 46, 1);
  transition: all .5s;
  cursor: pointer;
}
.social__list-item:hover{
  background-color: rgba(225, 29, 46, .9);
}

.footer__form-inner{
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url(../images/footer/footer__social__bg.png);
  background-repeat: no-repeat;
  background-position: top 50px  center;
}

.header__content-form{
  margin-top: 370px;
}

.footer__input{
  width: 650px;
  padding: 32px 35px 13px 30px;
  background-color: #101D3F;
  border-radius: 50px;
  font-size: 13px;
  line-height: 15px;
  color: #fff
}

.footer__bottom{
  height: 50px;
  background-color: #071022;
}
.footer__info{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

